* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.main{
   border: 1px black solid;
   border-radius: 20px;
   width: 500px;
   background: url(pexels-souvenirpixels-1486974.jpg);
}
.header{
    letter-spacing: 1px;
    padding: 0px 10px;
    margin-left: 100px;
    font-weight: bold;
    text-shadow: 0px 0px 20px rgba(0,0,0,0,75);
}
#test{
    padding: 10px;
    padding-left: 70px;
    margin: 10px;
    margin-left: 100px;
    border-radius: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    border-color:yellow ;
}
li{
    border: 0.5px black solid;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 400px;
    background-color: darkcyan;
    font-size: larger;
    font-family: 'Poppins', sans-serif;


}
button{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px;
    border: none;
}
.btn{
    padding: 10px;
    background-color: greenyellow;
    color: crimson;

}
